<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
	<form action="//everlearning.us8.list-manage.com/subscribe/post?u=2f1e2a6882720eb32815e0e74&amp;id=e5faa40c8f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
<div class="row">
		<div>
			<label for="mce-FNAME">First name<span class="asterisk">*</span></label>
			<input type="text" value="" name="FNAME" class="required form-control flat" id="mce-YOURNAME">
		</div>

		<div>
			<label for="mce-EMAIL">Email address<span class="asterisk">*</span></label>
			<input type="email" value="" name="EMAIL" class="required email form-control flat" id="mce-EMAIL">
		</div>

		<button class="button button-primary" id="mc-embedded-subscribe">Send me free stuff</button>
		<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	    <div style="position: absolute; left: -5000px;">
	    	<input type="text" name="b_2f1e2a6882720eb32815e0e74_e5faa40c8f" tabindex="-1" value="">
	    </div>
    </div>

	</form>
</div>
